
<div class="row">
    <div class="col-lg-12">
        <div class="bs-component">
            <div class="jumbotron">
                <h1>E2E Testing Sample</h1>
                <p>This is a sample app for learning E2E Testing with Protractor. Brought to you by The KVK Blog</p>
                <p><a class="btn btn-primary btn-lg" href="https://wpdevkvk.wordpress.com/" target="_blank">Learn more</a></p>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-lg-6">
        <input type="text" class="form-control" ng-model="sampleInput" placeholder="Your Text Here...">
    </div>
    <div class="col-lg-6">
        <h3>{{ sampleInput }}</h3>
    </div>
</div>
