
<div class="row">
    <div class="col-lg-12">
        <div class="bs-component">
            <div class="jumbotron">
                <h1>Jenkins CI Server Sample</h1>
                <p>Set up jenkins CI server in the AES EC2 to automate the project build process</p>
                <p><a class="btn btn-primary btn-lg" href="https://wpdevkvk.wordpress.com/" target="_blank">Learn more</a></p>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-lg-6">
        <input type="text" class="form-control" ng-model="sampleInput" placeholder="Your Text Here...">
    </div>
    <div class="col-lg-6">
        <h3>{{ sampleInput }}</h3>
    </div>
</div>
